# Database Configurations
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=upbs2024
DB_PASSWORD=upbs2024
DB_NAME=upbs
DB_SSL=false

# Root Database Credentials (Used optionally for recreating DB via recreate_db.js)
# DB_ROOT_USER=root
# DB_ROOT_PASSWORD=your_root_password_here

# Server Configurations
PORT=3001
NODE_ENV=development

# Admin Panel Configurations
ADMIN_USERNAME=admin
ADMIN_PASSWORD=upbs

# Security and Auth
JWT_SECRET=upbs-super-secret-key-2026

# Gateway Decoupled API configurations
GATEWAY_URL=http://localhost:3000
GATEWAY_SECRET=upbs-modem-sec-key-1837
GATEWAY_API_KEY=upbs-gateway-secret-api-key-2026
WORKER_URL=http://localhost:3001
